<nav class="navbar navbar-expand-lg d-none d-lg-block bg-white fixed-left" style="border-right: 2px solid #fff; ">
  <!-- Content for the sidenavbar -->
  <ul class="navbar-nav flex-column">
    <li class="nav-item navigation">
      <a class="nav-link navigationlink" href="#" ">Nuclear Physics</a>
    </li>
    <li class="nav-item navigation">
      <a class="nav-link navigationlink" href="#" ">Quantum Mechanics</a>
    </li>
    <li class="nav-item navigation">
      <a class="nav-link navigationlink" href="#" ">Thermodynamics</a>
    </li>
    <li class="nav-item navigation">
      <a class="nav-link navigationlink" href="#" ">Electromagnetism</a>
    </li>
    <li class="nav-item navigation">
      <a class="nav-link navigationlink" href="#" ">Astrophysics</a>
    </li>
    <li class="nav-item navigation">
      <a class="nav-link navigationlink" href="#" ">Particle Physics</a>
    </li>
    <li class="nav-item navigation">
      <a class="nav-link navigationlink" href="#" ">Fluid Mechanics</a>
    </li>
    <li class="nav-item navigation">
      <a class="nav-link navigationlink" href="#" ">Optics</a>
    </li>
    <li class="nav-item navigation">
      <a class="nav-link navigationlink" href="#" ">Electronics</a>
    </li>
    <li class="nav-item navigation">
      <a class="nav-link navigationlink" href="#" ">Inorganic Chemistry</a>
    </li>
    <li class="nav-item navigation">
      <a class="nav-link navigationlink" href="#">Organic Chemistry</a>
    </li>
    <li class="nav-item navigation">
      <a class="nav-link navigationlink" href="#" ">Physical Chemistry</a>
    </li>
    <li class="nav-item navigation">
      <a class="nav-link navigationlink" href="#" >Algebra</a>
    </li>
    <li class="nav-item navigation">
      <a class="nav-link navigationlink" href="#" >Calculus</a>
    </li>
  </ul>
</nav>


<style>
  .fixed-left {
  position: fixed;
  top: 49px;
  left: 0;
  bottom: 0;
  width: 230px;
}
.navigation{
  box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.1);
}

.navigationlink{
  font-family: 'Merriweather', serif;
  font-size: 15px;
  color: #ffffff;
  background-color: #05081a;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  box-shadow:  1px 10px rgba(9, 0, 88, 0.267);
}

@media (min-width: 900px) and (max-width: 1025px) {
  .fixed-left {
    width: 180px;
  }
}
</style>
  
 